body {
    background-color: whitesmoke !important;
    font-size: 14px;
}

body, html {
    width: auto;
    height: auto;
    position: relative;
}

.full-screen {
    display: flex;
    width: 100%;
    padding: 15px;
}

.textarea {
    width: 100%;
    min-height: 300px;
}

.textarea.large {
    height: 100%;
}

.side {
    margin: 10px;
}

.side.left, .side.right {
    width: 50%;
}

.generate-div {
    width: 100%;
    display: flex;
}

.generate-buttons {
    margin: 10px;
    color: green;
    background: aquamarine;
    box-sizing: border-box;
    width: 50%;
}

.generate-buttons.red {
    color: red;
}

.split-parent > div {
    width: 100% !important;
}

.ace_editor {
    min-height: 480px !important;
    height: auto !important;
}

.line-numbers .line-numbers-rows {
    left: -9.8em;
}

.code-toolbar, .line-numbers {
    height: 100%;
}

#finalAnnotations {
    color: #4c9051;
    font-size: 15px;
    padding-top: 2px;
}

code[class*="language-"] {
    line-height: unset;
}

.tekoway-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 180px;
}
